<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>VIEWS DEMO</h1>
    <br>
    <p>1. emp_view</p>
    <img src="img\emp_view.png" alt="">
    <p>2. dep_view</p>
    <img src="img\dep_view.png" alt="">
    <p>3. dep_loc_view</p>
    <img src="img\dep_loc_view.png" alt="">
    <p>4. emp_manager_view</p>
    <img src="img\emp_manager_view.png" alt="">
    <p>5. address_view</p>
    <img src="img\address_view.png" alt="">

    
</body>
</html>