<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>VIEWS DEMO</h1>
    <br>
    
    <h2>1. view1</h2>
    <img src="img\view1.png" alt="" style="width:1000px;">
    <h2>2. view2</h2>
    <img src="img\view2.png" alt="" style="width:1000px;">
    <h2>3. emp_view</h2>
    <img src="img\emp_view.png" alt="" style="width:1000px;">
    <h2>4. dep_view</h2>
    <img src="img\dep_view.png" alt="" style="width:1000px;">
    <h2>5. dep_loc_view</h2>
    <img src="img\dep_loc_view.png" alt="" style="width:1000px;">
    <h2>6. emp_manager_view</h2>
    <img src="img\emp_manager_view.png" alt="" style="width:1000px;">
    <h2>7. address_view</h2>
    <img src="img\address_view.png" alt="" style="width:1000px;">

    
</body>
</html>